.digitsPanel {
  background-color: blueviolet;
  display: flex;
  flex-flow: row wrap;
  margin-top: auto;
}

.digit,
.solveBtn,
.removeBtn {
  width: 33.33%;
  height: 50px;
}

.solveBtn {
  order: 10;
}

.removeBtn {
  order: 12;
}

.digit0 {
  order: 11;
}

.digit7 {
  order: 1;
}

.digit8 {
  order: 2;
}

.digit9 {
  order: 3;
}

.digit4 {
  order: 4;
}

.digit5 {
  order: 5;
}

.digit6 {
  order: 6;
}

.digit1 {
  order: 7;
}

.digit2 {
  order: 8;
}

.digit3 {
  order: 9;
}
