.solutionDisplay {
  font-size: 30px;
}

.solutionHidden {
  visibility: hidden;
}

.solutionText {
  font-size: 30px;
  font-weight: bold;
}

.correctSolution {
  color: green;
}

.incorrectSolution {
  color: red;
}