{
  "presets": [
    [
      "@babel/env", {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": "3.2.1",
        "targets": {
          "esmodules": true
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    [
      "babel-plugin-styled-components",
      {
        "fileName": false
      }
    ],
    ["babel-plugin-root-import",
      {
        "rootPathSuffix": "src",
        "rootPathPrefix": "~"
      }
    ],
    "react-hot-loader/babel",
  ]
}
