{
  "presets": [
    [
      "@babel/env", {
        "targets": {
          "browsers": ["last 2 versions", "safari >= 7"],
          "node": "current"
        }
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    ["babel-plugin-root-import",
      {
        "rootPathSuffix": "src",
        "rootPathPrefix": "~"
      }
    ],
    "react-hot-loader/babel",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
  ]
}
