.header {
  background: brown;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}

.list {
  background: darkgoldenrod;
  padding-left: 20px; 
}

.cardOption {
  height: 100px;
  background: green;
  width: 100%;
}