.statePanel {
  align-items: center;
  background: gainsboro;
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.solutionDisplay {
  font-size: 30px;
}

.solutionHidden {
  visibility: hidden;
}

.solutionText {
  font-size: 30px;
  font-weight: bold;
}

.correctSolution {
  color: green;
}

.incorrectSolution {
  color: red;
}

.scoreContainer {
  align-items: center;
  display: flex;
}

.scoreText {
  color: green;
  font-size: 30px;
}
